In [1]:
import pandas as pd

In [4]:
dct = pd.read_csv('dictionary1.csv')

In [5]:
dct

              name   type                                               desc
0                A    NaN  The first letter of the English and of many ot...
1                A    NaN  The name of the sixth tone in the model major ...
2                A    NaN  An adjective, commonly called the indefinite a...
3                A    NaN  In each; to or for each; as, "twenty leagues a...
4                A  prep.                                    In; on; at; by.
...            ...    ...                                                ...
54550  Zoantharian     n.                               One of the Anthozoa.
54551  Zoanthodeme     n.  The zooids of a compound anthozoan, collectively.
54552    Zoanthoid     a.                Of or pertaining to the Zoanthacea.
54553   Zoanthropy     n.  A kind of monomania in which the patient belie...
54554     Zoanthus     n.  A genus of Actinaria, including numerous speci...

[54555 rows x 3 columns]

In [37]:
word = dct.loc[dct.name == 'Cricket','desc']

In [38]:
for meaning in word.to_list():
    print(meaning.split(';')[-1])